<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="allowInsecureConnections" value="true" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="jellyfin" value="http://nuget.emby.media/api/v3/index.json" />
  </packageSources>
</configuration>
